.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.survey.segment {
    background-color: #ff5456;
    min-height: 100%;
}

.option.row {
    cursor: pointer;
}

.option.row .star.icon {
    opacity: .5;
}

.option.row,
.option.row .star.icon {
    transition: .15s ease-in-out;
}

.option.row.selected,
.option.row:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
}

.option.row:hover .star.icon,
.option.row.selected .star.icon {
    opacity: 1;
    color: rgb(251, 232, 8);
}

input.hidden {
    display: none;
}